body {
    width: 500px;
    margin: 0 auto;
    padding: 50px;
     background: linear-gradient(135deg, rgba(36, 46, 77, 0.9),rgba(112, 222, 228, 0.9));
  }
  
  div.elem-group {
    margin: 20px 0;
  }
  
  div.elem-group.inlined {
    width: 49%;
    display: inline-block;
    margin-left: 1%;
  }
  
  label {
    display: block;
    font-family: 'Nanum Gothic';
    padding-bottom: 10px;
    font-size: 1.25em;
  }
  
  input, select, textarea {
    border-radius: 50px;
    border: 2px solid rgba(0, 0, 255, 0.697);
    box-sizing: border-box;
    font-size: 1.25em;
    font-family: 'Nanum Gothic';
    width: 100%;
    padding: 10px;
  }
  
  div.elem-group.inlined input {
    width: 95%;
    display: inline-block;
  }
  
  textarea {
    height: 250px;
  }
  
  hr {
    border: 1px dotted #ccc;
  }

  /* CSS styles for the animated button */
  .delete-passenger-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #000000;
    border: none;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }

  .delete-passenger-btn:hover {
    background-color: #b4b92b;
  }

  .delete-passenger-btn:active {
    transform: scale(0.95);
  }
  .add {
    display: inline-block;
    padding: 10px 20px;
    background-color: #bfcb34;
    color: #000000;
    border: none;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }

  .add:hover {
    background-color: #b92b2b;
  }

  .add:active {
    transform: scale(0.95);
  }